In [130]:
import pandas as pd
import numpy as np

In [131]:
input_file = r"D:\Python\ZBiB\Renia\PZRP 5K Ex.xlsx"
output_file = r"D:\Python\ZBiB\Renia\result.csv"

In [132]:

df = pd.read_excel(input_file)

In [133]:
half_cols = len(df.columns) // 2
half_cols

11

In [134]:
df.columns = ['MethylType'] + ['Da'] + [f'A_R{i}'for i in range(1, half_cols)] + ['Dk'] + [f'K_R{i}' for i in range(1, half_cols)]

In [135]:
df

,MethylType,Da,A_R1,A_R2,A_R3,A_R4,A_R5,A_R6,A_R7,A_R8,...,K_R1,K_R2,K_R3,K_R4,K_R5,K_R6,K_R7,K_R8,K_R9,K_R10
0,CXX,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,CXX,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,CXX,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,CXX,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,CXX,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,CXG,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
592,CXG,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
593,CXG,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
594,CXG,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
595,CXG,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [136]:
def generate_sequences(df):
    # Znajdź kolumny A_R#
    ar_columns = [col for col in df.columns[1:-1] if col.startswith('A_R')]
    
    # Utwórz pustą ramkę danych dla przechowywania sekwencji
    sequences_df = pd.DataFrame(index=df.index, columns=[f'R{i}' for i in range(1, len(ar_columns) + 1)])
    
    # Iteruj po każdej kolumnie A_R#
    for idx, col in enumerate(ar_columns):
        # Połącz wartości z kolumn Da, A_R#, Dk, K_R#
        sequence = df['Da'].astype(str) + df[col].astype(str) + df['Dk'].astype(str) + df[col.replace('A_R', 'K_R')].astype(str)
        
        # Aktualizuj odpowiednią kolumnę w ramce danych
        sequences_df[f'R{idx+1}'] = sequence
    
    # Dołącz sekwencje do oryginalnej ramki danych
    df = pd.concat([df, sequences_df], axis=1)
    
    return df

In [137]:
# Wywołaj funkcję dla ramki danych df
df_with_sequences = generate_sequences(df)

print("Ramka danych z sekwencjami:")
df_with_sequences

Ramka danych z sekwencjami:

,MethylType,Da,A_R1,A_R2,A_R3,A_R4,A_R5,A_R6,A_R7,A_R8,...,R1,R2,R3,R4,R5,R6,R7,R8,R9,R10
0,CXX,0,1,1,1,1,1,1,1,1,...,0111,0111,0111,0111,0111,0111,0111,0111,0111,0111
1,CXX,0,1,1,1,1,1,1,1,1,...,0111,0111,0111,0111,0111,0111,0111,0111,0111,0111
2,CXX,0,1,1,1,1,1,1,1,1,...,0101,0101,0101,0101,0101,0101,0101,0101,0101,0101
3,CXX,0,1,1,1,1,1,1,1,1,...,0101,0101,0101,0101,0101,0101,0101,0101,0101,0101
4,CXX,0,1,1,1,1,1,1,1,1,...,0101,0101,0101,0101,0101,0101,0101,0101,0101,0101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,CXG,1,1,1,1,1,1,1,1,1,...,1111,1111,1111,1111,1111,1111,1111,1111,1111,1111
592,CXG,0,0,0,0,0,0,0,0,0,...,0010,0010,0010,0010,0010,0010,0010,0010,0010,0010
593,CXG,1,1,1,1,1,1,1,1,1,...,1111,1111,1111,1111,1111,1111,1111,1111,1111,1111
594,CXG,1,1,1,1,1,1,1,1,1,...,1111,1111,1111,1111,1111,1111,1111,1111,1111,1111
595,CXG,1,1,1,1,1,1,1,1,1,...,1111,1111,1111,1111,1111,1111,1111,1111,1111,1111

In [138]:
df_with_sequences.to_csv('sekwencje.csv', index=False)

In [139]:
# Tworzymy listę unikalnych sekwencji
events = [
    '0000', '0001', '0010', '0011',
    '0100', '0101', '0110', '0111',
    '1000', '1001', '1010', '1011',
    '1100', '1101', '1110', '1111'
]

# Utwórz ramki danych dla typów metylacji CXX, CG i CXG
cxx_df = pd.DataFrame({'Sequence': events})
cg_df = pd.DataFrame({'Sequence': events})
cxg_df = pd.DataFrame({'Sequence': events})

In [140]:
for df in [cxx_df, cg_df, cxg_df]:
    for i in range(1, half_cols):
        df[f'R{i}'] = 0

In [141]:
def update_methylation_df(methylation_df, df_with_sequences, methyl_type):
    methyl_df = df_with_sequences[df_with_sequences['MethylType'] == methyl_type]  # Wybierz tylko wiersze dla danego typu metylacji
    for index, row in methylation_df.iterrows():
        sequence = row['Sequence']
        for i in range(1, half_cols):
            count = methyl_df[methyl_df[f'R{i}'] == sequence].shape[0]
            methylation_df.at[index, f'R{i}'] = count
    return methylation_df

# Zaktualizuj ramki danych dla każdego typu metylacji
cg_df_updated = update_methylation_df(cg_df, df_with_sequences, 'CG')
cxg_df_updated = update_methylation_df(cxg_df, df_with_sequences, 'CXG')
cxx_df_updated = update_methylation_df(cxx_df, df_with_sequences, 'CXX')

cg_df_updated.set_index('Sequence', inplace=True)
cxg_df_updated.set_index('Sequence', inplace=True)
cxx_df_updated.set_index('Sequence', inplace=True)

# Wyświetl zaktualizowane ramki danych
cg_df_updated.to_csv('cg_df_updated.csv', index=False)
cxg_df_updated.to_csv('cxg_df_updated.csv', index=False)
cxx_df_updated.to_csv('cxx_df_updated.csv', index=False)

In [142]:
cxx_df_updated

          R1  R2  R3  R4  R5  R6  R7  R8  R9  R10
Sequence
0000       1   1   1   1   1   1   1   1   1    0
0001       0   0   0   0   0   0   0   0   0    0
0010       1   1   1   1   1   1   1   1   1    1
0011       0   0   0   0   0   0   0   0   0    0
0100       5   5   5   5   5   5   5   5   5    6
0101      24  24  24  24  24  24  24  24  24   24
0110       1   1   1   1   1   1   1   1   1    1
0111       3   3   3   3   3   3   3   3   3    3
1000       4   4   5   5   5   5   5   5   5    5
1001       1   1   1   1   1   1   1   1   1    1
1010      12  12  12  12  12  12  12  12  12   12
1011       2   2   3   3   3   3   3   3   3    3
1100       5   5   4   4   4   4   4   4   4    4
1101       8   8   8   8   8   8   8   8   8    8
1110       0   0   0   0   0   0   0   0   0    0
1111      33  33  32  32  32  32  32  32  32   32

In [143]:
def add_summary_rows(df):
    # Suma wszystkich wierszy
    e = df.sum()

    # Suma dla poszczególnych kategorii
    se = df.loc[['0001','0010','0101','0110','1001','1010','1101','1110']].sum()
    dme = df.loc[['0110','0111']].sum()
    dnme = df.loc[['1001','1011']].sum()
    ce = df.loc[['0100','1000']].sum()
    snms = df.loc[['1100','1101','1111']].sum()
    sms = df.loc[['0011','1101']].sum()

    # Dodanie do ramki danych
    df.loc['CXX_E'] = e
    df.loc['CXX_SE'] = se
    df.loc['CXX_DME'] = dme
    df.loc['CXX_DNME'] = dnme
    df.loc['CXX_CE'] = ce
    df.loc['CXX_SNMSs'] = snms
    df.loc['CXX_SMSs'] = sms

    ttcie = df.loc[['CXX_SE','CXX_DME','CXX_DNME','CXX_CE','CXX_SNMSs','CXX_SMSs']].sum()
    df.loc['CXX_TTCIE'] = ttcie

    return df

In [144]:
cg_df_updated_with_summary = add_summary_rows(cg_df_updated)
cxg_df_updated_with_summary = add_summary_rows(cxg_df_updated)
cxx_df_updated_with_summary = add_summary_rows(cxx_df_updated)

In [145]:
cg_df_updated_with_summary

            R1   R2   R3   R4   R5   R6   R7   R8   R9  R10
Sequence
0000         6    6    6    6    6    6    6    6    6    3
0001         1    1    1    1    1    1    1    1    1    0
0010         2    2    2    2    2    2    2    2    2    2
0011         4    4    5    5    5    4    5    4    4    5
0100         4    4    4    4    4    4    4    4    4    7
0101        33   33   33   33   33   33   33   33   33   34
0110         1    1    1    1    1    1    1    1    1    1
0111         8    8    7    7    7    8    7    8    8    7
1000         1    1    1    1    1    1    1    1    1    1
1001         0    0    0    0    0    0    0    0    0    0
1010        18   19   18   19   18   18   19   19   19   17
1011         6    7    7    7    7    7    7    7    7    5
1100         4    4    4    4    4    4    4    4    4    4
1101         7    7    7    7    7    7    7    7    7    7
1110         7    6    7    6    7    7    6    6    6    8
1111        70   69   69   69   69   69   69   69   69   71
CXX_E      172  172  172  172  172  172  172  172  172  172
CXX_SE      69   69   69   69   69   69   69   69   69   69
CXX_DME      9    9    8    8    8    9    8    9    9    8
CXX_DNME     6    7    7    7    7    7    7    7    7    5
CXX_CE       5    5    5    5    5    5    5    5    5    8
CXX_SNMSs   81   80   80   80   80   80   80   80   80   82
CXX_SMSs    11   11   12   12   12   11   12   11   11   12
CXX_TTCIE  181  181  181  181  181  181  181  181  181  184